@tailwind base;
@tailwind components;
@tailwind utilities;

.hover:hover {
  @apply bg-zinc-300 text-zinc-900;
}

.hover2:hover {
  @apply bg-zinc-900 text-zinc-100;
}

.button {
  @apply bg-zinc-900 text-zinc-100 transition-all ;
}

.button_secondary {
  @apply bg-zinc-100 text-zinc-900 transition-all font-semibold py-2 px-4 rounded-lg h-fit text-center hover2;
}

.input_text {
  @apply bg-zinc-100 text-zinc-900 transition-all font-semibold py-2 px-4 rounded-lg md:w-80 w-60 h-fit;
}

.fundo_main {
  background-image: url("/bg_landing.png");
  background-size: cover;
}

.fundo_login {
  background-image: url("/bg_login.png");
  background-size: cover;
}

.gradient-gray {
  border-radius: 30px;
  background: linear-gradient(
    89deg,
    #000700 -9.59%,
    #252a25 11.12%,
    #5c5e5c 80.77%,
    #787878 99.4%
  );
  box-shadow: 2px 0px 15px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-family: "JetBrains Mono NL";
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.box {
  @apply bg-zinc-400 text-zinc-100 lg:w-1/3 w-full h-full relative p-6 pr-0 flex;
  border-radius: 30px;
  box-shadow: 2px 0px 15px 0px rgba(0, 0, 0, 0.25);
}

.box-4 {
  @apply text-zinc-900;
  border-radius: 30px;
  box-shadow: 2px 0px 15px 0px rgba(0, 0, 0, 0.25);
  
}

.box-1 {
  @apply box;
  background: linear-gradient(128deg, #e6d604 -3.28%, #b45c0b 98.55%);
}

.box-2 {
  @apply box;
  background: linear-gradient(179deg, #c6a4f5 -4.36%, #4d2c4e 111.92%);
}

.btn-gradient{
  background: linear-gradient(70deg, #c6a4f5 -4.36%, #4d2c4e 111.92%);
  @apply text-zinc-100
}

.box-3 {
  @apply box;
  background: linear-gradient(
    220deg,
    #ff81cd 9.06%,
    #d53757 73.27%,
    #b50000 108%
  );
}

.gradient-divider{
  background: linear-gradient(
    220deg,
    #e6d604,
    #ff81cd 9.06%,
    #b50000 108%
  );
}
.option{
  transition: all ease 0.2s;
}

.option:hover {
  @apply bg-zinc-300 text-zinc-900;
}

.markdown-content,
.markdown-content * {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

.markdown-content h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.markdown-content p {
  margin-bottom: 10px;
}

.markdown-content a {
  color: #007bff;
  text-decoration: none;
}

.markdown-content a:hover {
  text-decoration: underline;
}
